<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Folder</title>
</head>
<body>
    <h1>Edit <%= itemType === 'folder' ? 'folder' : 'file' %></h1>
    <form action="/drive/edit/<%= item.id %>/<%= itemType %>" method="POST">
        <label for="itemName"><%=itemType%> Name:</label>
        <input type="text" name="itemName" id="itemName" value="<%= itemType === 'folder' ? item.name : item.filename %>" required>
        <button type="submit">Save Changes</button>
    </form>

    <a href="/drive">Back to Drive</a>
</body>
</html>

